$menu-blue: rgb(53, 92, 125);
$font-color: rgba(255, 255, 255, 0.5);

html {
	overflow: hidden;
}

a {
	&:link, &:visited, &:hover, &:active {
    	color: #000;
    	text-decoration: none;
	}
}


body {
	text-align: center;
	font-weight: bold;
    letter-spacing: 1px;
    // color: rgba(255, 255, 255, 0.5);
}

button {
	margin: 0 auto;
}


header h1 {
	font-size: 1.5em;
	color: white;
	span {
		color: #01BEFC;
	}

}
/***********
Menu Bar 
***********/

.primary-menu {
	position:fixed;
	top: 0;
	left:0;
	right: 0;
	height: 100%;
	transition: all .5s;
	transform: translateY(-120%);
	background-color: purple;
	text-align: center;
	z-index: 1003;
}

.primary-menu.show {
	transform: translateY(0);
}

 #way-input {
      position: absolute;
      z-index: 1003;
      right: 0;
      top: 40px;
    }


a.maps {
	width: 100%;
	background-color: rgb(82, 154, 215); 
	height: 25%;
	margin: 0;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	font-size: 2em;

}
a.preference {
	width: 100%;
	background-color: rgb(77, 135, 184);
	height: 25%;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	font-size: 2em;
}

a.settings {
	width: 100%;
	background-color: rgb(62, 109, 149);
	height: 25%;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	font-size: 2em;
}

a.about {
	width: 100%;
	background-color: $menu-blue;
	height: 25%;
	overflow: hidden;
	margin: 0 auto;
	display: block;
	font-size: 2em;
}

/***********
Maps Page
***********/

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1002;
	background-color: $menu-blue;
	height: 100px;
	overflow: hidden;
}

.dest-search.hide {
	display: none;
}

 #dest-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #426A8C;
    border: none;
    height: 40%;
    color: $font-color;
  }

  #way-input {
  	position: absolute;
  	right: 0;
  	top: 100px;
  	background-color: rgba(66, 106, 140, 0.49);
    border: none;
    display: none;
  }
    #way-input.expand {
    	display: block;
    }


  ::-webkit-input-placeholder { 
    	color: rgba(255, 255, 255, 0.5);
    	padding-left: 5px;
    	font-weight: bold;
    	letter-spacing: 1px;
	}

#map-canvas {
        height: calc(100% - 140px);
        margin: 0px;
        padding: 0px;
        z-index: 100;
}

.content  {
	position: absolute;
	top: 100px;
	bottom: 40px;
	width: 100%;
	margin: 0 auto;
	background-color: rgb(62, 109, 149);
	overflow: hidden;
	// color: rgba(255, 255, 255, 0.5);
	padding-left: 5px;
	font-weight: bold;
	letter-spacing: 1px;
}

.fa-minus {
	position: absolute;
	z-index: 110;
	right: 1%;
	top: 50%;
	font-size: 40px;
	color: rgba(66, 106, 140, 0.8);
}

.fa-minus.panel {
	color: black;	
}


 #directions-panel {
    height: calc(100% - 140px);
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 106;
    bottom: 40px;
    transition: all .5s;
    transform: translateX(100%);
    background-color: rgba(66, 106, 140, 0.8);
    // text-align: left;
  }

 #directions-panel.show {
 	transform: translateX(0);
 }

/***********
Preference Page
***********/

.pref-container {
	margin-top: 40px;
}

input, select {
	height:20px;
	width: 50%;
	font-size: 1em;


}

.pref {
	margin: 10px;
	text-align: initial;
}

.edit-pref, .pref-append {
	margin-top: 40px;
	display: none;
}

.expand {
	.edit-pref, .pref-append {
		display: block;
	}
}



/***********
 Detour pull up footer
 ***********/

 .footer-template {

 }

 footer {
 	overflow: hidden;
 	// background-color: red;
 	.show-bottom-menu, .footer-template {
		background-color: $menu-blue;
		color: #01BEFC;
 		position: fixed;
 		height: 40px;
 		left: 0;
 		right: 0;
 		bottom: 0;
 		// transform: translateY(-30pt);
 		text-align: center;
 		z-index: 1000;

 	}
 }

 .detour-menu {
 	width: 100%;
 	background-color: purple;
 	overflow: hidden;
 	height: calc(40% - 140px);
 	position:fixed;
	left:0;
	right: 0;
	bottom: 40px;
	transition: all .5s;
	transform: translateY(100%);
	z-index:101;
 	.gas, .food, .attractions {
		text-align: center;
		overflow: hidden;
		height: 33.33%;
		font-size: 1.5em;
 	}
 	.gas {
 		background-color: #529ad7;
 	}
 	.food {
 		background-color: #4d87b8;
 	}
 	.attractions {
 		background-color: #3e6d95;
 	}

 }

 .detour-menu.show {
	transform: translateY(0);
}

// .bottom-menu.hide {
// 	display: none;
// }

