body {
	text-align: center;
}

button {
	margin: 0 auto;
}


header h1 {
	font-size: 2.5em;

}
/***********
Menu Bar 
***********/

.primary-menu {
	position:fixed;
	top: 100px;
	left:0;
	right: 0;
	height: calc(100% - 100px);
	transition: all .5s;
	transform: translateY(-100%);
	background-color: purple;
	text-align: center;
	z-index: 1001;
}

.primary-menu.show {
	transform: translateY(0);
}



.menu {
	font-size: 2em;

}

.maps {
	width: 100%;
	background-color: orange; 
	height: 25%;
	margin: 0;
	overflow: hidden;
	margin: 0 auto;
}
.preference {
	width: 100%;
	background-color: darkorange;
	height: 25%;
	overflow: hidden;
	margin: 0 auto;
}

.settings {
	width: 100%;
	background-color: red;
	height: 25%;
	overflow: hidden;
	margin: 0 auto;
}

.about {
	width: 100%;
	background-color: darkred;
	height: 25%;
	overflow: hidden;
	margin: 0 auto;
}

/***********
Maps Page
***********/

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1002;
	background-color: green;
	height: 100px;
	overflow: hidden;
}

#map-canvas {
        height: calc(100% - 140px);
        margin: 0px;
        padding: 0px;
        z-index: 100;
}

.content  {
	position: absolute;
	top: 100px;
	bottom: 40px;
	width: 100%;
	margin: 0 auto;
	background-color: red;
	overflow: hidden;

}

/***********
Preference Page
***********/

.pref-container {
	margin-top: 40px;
}

input, select {
	height:20px;
	width: 50%;
	font-size: 1em;


}

.pref {
	margin: 10px;
	text-align: initial;
}

.edit-pref, .pref-append {
	margin-top: 40px;
	display: none;
}

.expand {
	.edit-pref, .pref-append {
		display: block;
	}
}



/***********
 Detour pull up footer
 ***********/

 .footer-template {

 }

 footer {
 	overflow: hidden;
 	background-color: red;
 	.show-bottom-menu, .footer-template {
 		background-color: green;
 		position: fixed;
 		height: 40px;
 		left: 0;
 		right: 0;
 		bottom: 0;
 		// transform: translateY(-30pt);
 		text-align: center;
 		z-index: 1000;

 	}
 }

 .detour-menu {
 	width: 100%;
 	background-color: purple;
 	overflow: hidden;
 	height: calc(40% - 140px);
 	position:fixed;
	left:0;
	right: 0;
	bottom: 40px;
	transition: all .5s;
	transform: translateY(100%);
	z-index:101;
 	.gas, .restaurants, .attractions {
		text-align: center;
		overflow: hidden;
		height: 33.33%;
		font-size: 1.5em;
 	}
 	.gas {
 		background-color: yellow;
 	}
 	.restaurants {
 		background-color: orange;
 	}
 	.attractions {
 		background-color: red;
 	}

 }

 .detour-menu.show {
	transform: translateY(0);
}

// .bottom-menu.hide {
// 	display: none;
// }

